/* Sets the background color for the body of the page */
body {
	background-image: url("http://www.desktopwallpaperhd.net/wallpapers/11/d/wallpaper-abstract-clean-115181.jpg");
	background-repeat: repeat-x;
}
/* Aligns the text of GeeMail at the top to center*/
h1 {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
/* Creates the border around the table and all sections*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
/* Sets the background color of the table headers*/
th {
	background-color: #FFFFFF;
}
/* Sets the padding around the table headers & sections */
th, td {
	padding: 5px;
}

h4 {
	font-size: 20;
}

.title {
	font-size: 24;
	font-weight: bold;
	text-align: center;
}

.icon img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
	width: 70px;
	text-align: auto;
}